{% extends "base2.html"%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/error.css'%}">
<body>
    <div id='container'>
        <div class='content'>
            <h2>404</h2>
            <h4>Ooops! Page Not Found</h4>
            <p>The page you were looking for doesn't exist.</p>

        </div>

    </div>
    <script>
        var container = document.getElementById('container');
        window.onmousemove = function(e){
            var x = - e.clientX/5,
            y = - e.clientY/5;
            container.style.backgroundPositionX = x+'px';
            container.style.backgroundPositionY = y+'px';
        }
    </script>
</body>
{% endblock %}