{% extends 'base2.html'%}
{% load static %}



{% load crispy_forms_tags %}
{% block content %}


<form method='POST'>{% csrf_token%}
    
   
    {{form|crispy}}

<br/>
<input  class='button' type='submit' value='reset'>

</form> 
<style>
*{
    margin-left: 0;
    padding:0;
    box-sizing: border-box;
}
    
form{
    
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.829) 37%, rgba(255,255,255,1) 100%);
    border-radius:10px;
    position: absolute;
    top:15%;
    left:5%;
    margin:0 auto;
    width:50%;
    height: 60vh; 

}


form .button{
    position: relative;
    left:20%;
    right:20%;    
    background-color: black;
    width:60%;
    height: 45px;
    margin-top: 9%;
    border-radius: 10px;
    border-width: 0;
    color:white;
    font-size: 17px;
    color:darkturquoise;
    font-weight: bold;
}

#id_email{
    position: relative;
    left: 10%;
    width: 80%;
    outline: none;
    height: 7vh;
    border: 0;
    font-size: 20px;
    /* color: rgb(120, 120, 145); */
    /* background-color: blue; */
    border-bottom:5px solid black;
   
    border-radius: 10px;
   


}

.requiredField{
    display: none;
}
@media screen and (max-width:786px){
    form{
        width: 90%;
        left:5%;
        right: 5%;
    }
}
</style>
<script >
document.getElementById('id_email').placeholder='Email'

</script>
{% endblock %}