{% extends 'base.html' %}
{% block content%}
<h1>varification email send  <br><small>Please check the spam section also </small> </h1>

<style>
    body{
        background-color: black;
        margin:0;
        padding: 0;
        box-sizing:border-box;
        
        


    }

    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 19px;
        color: darkturquoise;
        font-style: italic;
        text-align: center;
        margin-top: 100px;
    }
</style>
{% endblock %}
