{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %} 
<link rel='stylesheet' type='text/css' href='{% static "css/register.css"%}'></link>
<script src='{% static "javascript/register.js"%}' defer></script>
<nav>
    <div class='logo'>
        <img src='{% static "images\music.png" %}' width=45>
        <h2>Melodiam</h2>

    </div>
    <div class='hamburger'>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>



    </div>
    <ul class='nav-links'>
        <li ><a href='{% url "melodiam" %}'>Home</a></li>
        <li ><a href='{% url "about"%}'>About</a></li>
        <li ><a href='{% url "contact"%}'>Contact</a></li>
       

    </ul>
</nav>
<form method='POST'>
    {% csrf_token %}
    
    <legend>Melodiam</legend>
        {{form|crispy}}
    
    <br/>
    
    <input  class='button' type='submit' value='register'>

</form>
<section>

</section>

<small id='small'> already a member ? <a href='{% url "login"%}'>login</a></small>

{% endblock %}